:root {
    --fuente-principal: Helvetica, Arial, sans-serif;
    --bg-color: #fde3e7;
    --fill-color: tomato;
    --empty-border-color: #cab5b8;
    --empty-bg-color: #fff;
    --border-hold-color: red;
    --hovered-bg-color: #f4f4f4;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: var(--fuente-principal);
}

.header {
    text-align: center;
    background-color: var(--empty-border-color);
    padding: 1.5rem 0;
    border-radius: 0 0 10px 10px;
}

.header__texto {
    color: var(--empty-bg-color);
    text-shadow: 1px 2px 0 rgba(0, 0, 0, .5);
}

.contenedor {
    width: 75%;
    margin: 3rem auto;
    display: flex;
    justify-content: space-around;
}

.fill,
.empty {
    border-radius: 5px;
}

.fill {
    background-color: var(--fill-color);
    width: 10rem;
    height: 10rem;
    cursor: pointer;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 11rem;
    border: 3px solid var(--empty-border-color);
    background-color: var(--empty-bg-color);
}

.hold {
    border: 4px solid var(--border-hold-color);
}

.hovered {
    background-color: var(--hovered-bg-color);
    border-style: dashed;
}

.invisible {
    display: none;
}